/*For fluid responsive design: https://utopia.fyi/ */

:root {
  --header-height: 50px;
  --navbar-height: calc(100vh - 50px);
  --red-color: #f33f3f;
  --black-color: #080808;
  --white-color: #eaeaea;
  --grey-color: #9a9a9a;
  --light-gray: #b3b3b3;

  /* Step -3: 10.42px → 10.24px */
  --step--3: clamp(0.64rem, calc(0.66rem + -0.02vw), 0.65rem);

  /* Step -2: 12.50px → 12.80px */
  --step--2: clamp(0.78rem, calc(0.77rem + 0.03vw), 0.8rem);

  /* Step -1: 15.00px → 16.00px */
  --step--1: clamp(0.94rem, calc(0.92rem + 0.11vw), 1rem);

  /* Step 0: 18.00px → 20.00px */
  --step-0: clamp(1.13rem, calc(1.08rem + 0.22vw), 1.25rem);

  /* font-size: clamp(1.13rem, calc(1.08rem + 0.22vw), 1.25rem); */
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  /* font-size: 62.5%; */
}
body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  background: var(--black-color);
  color: var(--white-color);
  width: 100%;
}

/*---Page_Container---------------------------------------------*/

.container {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 50px auto;
  margin: 0 1%;
  transition: all 0.3s;
}

.header {
  grid-column: 1/-1;
}
.MoviesEvents {
  overflow: hidden;
  padding-inline: 2vw;
  margin: 40px auto 100px;
  transition: all 0.3s;
}
.navbar {
  background: var(--black-color);
}

/*---Header---------------------------------------------*/

.header {
  position: sticky;
  display: flex;
  align-items: center;
  top: 0;
  z-index: 9999;
  gap: 20px;
  padding-left: 30px;
  background: var(--black-color);
}

.logo {
  color: var(--red-color);
  font-family: "Play", sans-serif;
  font-weight: 700;
  font-size: var(--step-0);
}

.menu-icon-btn {
  font-size: var(--step--1);
  width: 1rem;
  padding: 0;
  background: none;
  border: none;
  outline: none;
}

/*---Icon---------------------------------------------*/
.icon {
  display: flex;
  align-items: center;
  text-align: center;
  height: 20px;
  width: 24px;
  line-height: 2rem;
  flex-shrink: 0;
}

/*---Navbar--------------------------------------------*/

.navbar {
  position: sticky;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: var(--navbar-height);
  padding-top: 1rem;
  top: var(--header-height);
  /* overflow-y: auto; */
  /* overflow-x: hidden; */
  overflow: hidden;
  left: 0;
  flex-shrink: 0;
}
.top_sidebar {
  width: 100%;
}

/* The overflow-y: auto; property is applied to the .middle_sidebar
 and overflow: hidden to its parent elements for scrolling the middle_sidebar. */
.middle_sidebar {
  width: 100%;
  position: sticky;
  overflow-y: auto;
  overflow-x: hidden;
  flex-grow: 1;
}
ul {
  padding: 0;
}

.navbar_item,
.user {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  gap: 16px;
  max-height: 40px;
}
.navbar_item > :nth-child(2) {
  flex: 2;
}
.navbar_item > :nth-child(1) {
  flex: 1;
  justify-content: right;
}

.searchbox {
  border: 1px solid #333;
  border-radius: 8px;
  margin-bottom: 1rem;
  font-weight: 400;
}

.navbar_text > input {
  color: var(--white-color);
  background: #000000;
  border: none;
}

a {
  text-decoration: none;
  color: var(--white-color);
}
.navbar_text {
  font-size: var(--step--2);
  font-weight: 400;
  overflow: hidden;
}
.navbar_genre {
  display: flex;
  padding: 1rem;
  padding-left: 30%;
  align-items: center;
  gap: 20px;
  max-height: 40px;
}

.navbar_tab:hover {
  background: #333;
  border-radius: 8px;
}

.navbar_tab {
  transition: background 0.3s;
}

.line {
  border-bottom: 1px solid #333;
  margin: 1rem;
}

.overline {
  font-weight: 400;
  font-size: var(--step--2);
  letter-spacing: 0.1em;
  color: var(--grey-color);
}

.user,
.bottom_sidebar {
  margin-top: 1rem;
  margin-bottom: 10px;
  width: 100%;
}

.user_img {
  display: flex;
  height: 32px;
  width: 32px;
  border-radius: 100%;
  overflow: hidden;
}

.user_name {
  font-weight: 600;
  font-size: var(--step--2);
  line-height: 16px;
}
.user_handle {
  font-weight: 400;
  font-size: var(--step--3);
  line-height: 16px;
  color: var(--grey-color);
}

/*---Scroll-bars--------------------------------------------*/

.navbar::-webkit-scrollbar-track,
.middle_sidebar::-webkit-scrollbar-track,
.movie::-webkit-scrollbar-track,
.event::-webkit-scrollbar-track {
  background-color: var(--black-color);
}

.navbar::-webkit-scrollbar,
.middle_sidebar::-webkit-scrollbar {
  width: 4px;
}

.movie::-webkit-scrollbar,
.event::-webkit-scrollbar {
  height: 8px;
}

.navbar::-webkit-scrollbar-thumb,
.middle_sidebar::-webkit-scrollbar-thumb,
.movie::-webkit-scrollbar-thumb,
.event::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: var(--light-gray);
}

/*---MoviesEvents_Example--------------------------------------------*/

.MoviesEvents_headings {
  display: flex;
  flex-direction: row;
  font-weight: 400;
  font-size: var(--step--2);
  line-height: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--grey-color);
  margin-bottom: 24px;
}
/* .MoviesEvents_action {
  text-transform: capitalize;
  font-weight: 700;
  color: var(--red-color);
  margin-left: 14px;
} */

/*---Movies--------------------------------------------*/

.movie {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 1%;
  margin-bottom: 30px;
  flex-wrap: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
  padding: 12px;
}

.movie_card {
  /* min-width: 20%;
  width: 20%; */
  flex: 0 0 clamp(100px, 20%, 200px);
  transition: transform 0.2s ease-out;
}

.movie_card:hover {
  transform: scale(1.05);
}

.movie_cover > img {
  width: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.movie_title {
  display: flex;
  justify-content: left;
  align-items: center;
  font-weight: 700;
  font-size: var(--step--2);
  line-height: 20px;
  margin-top: 14px;
}

.menu-icon-btn,
.movie_card {
  cursor: pointer;
}

/*---Navbar toggling--------------------------------------------*/

@media (min-width: 600px) {
  .container {
    grid-template-columns: 20% 80%;
  }
  .navbar {
    opacity: 1;
    width: 100%;
    transition: all 0.3s;
  }

  /* open is toggle or close */
  .navbar.open {
    width: 0;
    opacity: 0;
    transition: all 0.3s;
  }
  .MoviesEvents {
    padding-inline: 5vw;
  }
  .container.open .MoviesEvents {
    grid-column: 1/-1;
    padding-inline: 12vw;
    transition: all 0.3s;
  }
  .container.open {
    grid-template-columns: 0% 100%;
    transition: all 0.3s;
  }
}

@media (max-width: 600px) {
  .navbar.open {
    height: var(--navbar-height);
    transition: all 0.3s;
  }

  /* adding a close class fixed the issue, now when page opens navbar is closed. Earlier it was working only on keeping it open when page loads and then toggeling*/
  .navbar.close {
    height: 0;
    padding: 0;
    transition: all 0.3s;
  }
}

/* ---Movie detail page------------------------------------------------ */

.movie-detail-container {
  width: 100%;
  margin: 10px auto 10px;
}
.movie-detail-grid {
  width: 100%;
  color: var(--white-color);
  padding-inline: 5vw;
}

@media (min-width: 600px) {
  .movie-detail-grid {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: 30% 70%;
  }
}

.movie-detail-poster {
  grid-column: 1/2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  margin-bottom: 30px;
}

.movie-detail-img {
  width: 100%;
  object-fit: cover;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.movie-detail-play {
  background-color: rgb(3, 37, 65);
  width: 100%;
  padding: 10px;
  text-align: center;
  font-weight: 600;
  font-size: var(--step--2);
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.movie-detail-info {
  width: 100%;
  overflow: hidden;
  grid-column: 2/3;
  padding-block: 20px;
  display: flex;
  flex-direction: column;
}

.movie-detail-title {
  font-size: var(--step-0);
  font-weight: 700;
  line-height: 16px;
  margin-bottom: 10px;
}

.movie-detail-date-genre {
  display: flex;
  gap: 20px;
  font-size: var(--step--2);
  letter-spacing: 0.08em;
  margin-bottom: 20px;
}

.movie-detail-score-trailer {
  display: flex;
  align-items: center;
  gap: 30px;
  font-weight: 600;
  font-size: var(--step--2);
  margin-bottom: 40px;
}
.movie-detail-score-trailer > * {
  display: flex;
  align-items: center;
  gap: 5px;
}
.watch-trailer {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.video-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.enlarged-video {
  padding-top: 20px;
  overflow: hidden;
  position: relative;
}

.close-button-container {
  position: absolute;
  top: 2%;
  right: 15%;
  margin-left: auto;
  padding: 2px;
  z-index: 10000;
}
.close-button {
  background-color: transparent;
  border: none;
  font-size: var(--step--1);
  font-weight: 500;
  color: var(--white-color);
  cursor: pointer;
}
.close-button:hover {
  color: var(--red-color);
}

.movie-detail-score {
  font-size: var(--step--1);
  background: rgba(255, 245, 245, 0.4);
  border-radius: 100%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.movie-detail-overview {
  font-size: var(--step--2);
  line-height: 16px;
  margin-top: auto;
}
.movie-detail-overview-heading {
  font-size: var(--step--1);
  font-weight: 600;
  letter-spacing: 0.02em;
}
